/** 全体外部アイコン付与 **/
a[href^="http"]::after {
    content: url(/img/ext.webp);
    display: inline-block;
    background-size: contain;
    vertical-align: middle;
}


/** ニコニコ動画外部アイコン付与 **/
a[href^="https://www.nicovideo.jp/"]::after {
    content: url(/img/ext_nico.webp);
}

/** マイリスト外部アイコン付与 **/
a[href^="https://www.nicovideo.jp/mylist/"]::after {
    content: url(/img/ext_list.webp);
}

/** ニコニコ生放送外部アイコン付与 **/
a[href^="https://live.nicovideo.jp/"]::after {
    content: url(/img/ext_nl.webp);
}

/** ニコニコチャンネル外部アイコン付与 **/
a[href^="https://ch.nicovideo.jp/"]::after {
    content: url(/img/ext_ch.webp);
}

/** ニコニココモンズ外部アイコン付与 **/
a[href^="https://commons.nicovideo.jp/"]::after {
    content: url(/img/ext_commons.webp);
}

/** ニコニコニュース外部アイコン付与 **/
a[href^="https://news.nicovideo.jp/"]::after {
    content: url(/img/ext_news.webp);
}

/** ニコニコ静画外部アイコン除去 **/
a[href*="seiga.nicovideo.jp/"]::after {
    content: url(https://dic.nicovideo.jp/oekaki/122809.png);
}
a[href^="https://seiga.nicovideo.jp/seiga/"]:has(> img[src^="https://lohas.nicoseiga.jp/thumb/"])::after {
    content: "";
}


/** 外部アイコン除去（ユーザーの記事編集による）指定あり時の除外 **/
a[href^="http"][style="background-image: none;"]::after {
    content: "";
}

/** ニコニコ大百科内リンク（ユーザーの記事編集による手動リンク）の除外 **/
a[href^="https://dic.nicovideo.jp"]::after {
    content: "";

}





